@media screen and (min-width: 481px) and (max-width: 1279px) {
    .container {
        text-align: center;
    }

    .input-container {
        width: 90vw;
        margin: 0 auto;
    }

    #pairs-list {
        width: 90vw;
        height: 30vh;
    }

    .manage {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .list-buttons {
        flex-direction: row;
        width: 90vw;
    }

    .list-buttons button {
        width: calc((100% - 20px)/3);
    }
}