@media screen and (max-width: 480px) {
    .container {
        text-align: center;
    }

    input {
        width: 90vw;
        margin-bottom: 10px;
    }

    .inputContainer{
        display: block;
    }

    #addPair{
        width: 90vw;
    }

    .manage {
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
    }
    #pairsList {
        width: 90vw;
        height: 40vh;
    }

    .listButtons {
        flex-direction: row;
        width: 90vw;
    }

    .listButtons button {
        width: calc((100% - 20px)/3);
    }

    label {
        margin: 40px 0 5px 0;
    }

    #errorWindow{
        width: 75%;
        left: calc(25% / 2);
    }
}